## ETL Project by Moe, Fernando and Laura
Goals: 1.) To identify which neighborhoods in NYC have high population density, both from residents and tourists, yet do not have enough food establishments nearby. 2.) To provide new restaurants with guidance on strategic placements in NYC.

### Import All Dependencies

In [15]:
# import gmaps
# import numpy as np
import pandas as pd
# import requests
# import time
# import json
# from datetime import datetime
# from scipy.stats import linregress
# from matplotlib import pyplot as plt
# from config_Laura import (walk_key)
import os
from bs4 import BeautifulSoup as bs

### This section will be used to clean the datasets
Datasets used: 3 CSV Files (one containing Airbnb data from Kaggle, one on census data for NYC from https://data.cccnewyork.org/ and one for restaurant data for NYC from Kaggle). In addition, we will webscrape an article on the top 25 restaurants to stay in NYC.

#### A. Cleaning census data for NYC

In [2]:
# import csv for census data and remove the first 5 rows that contain other information
census_data = pd.read_csv('Resources/NYC_census_data.csv', skiprows=5)

In [3]:
census_data.head(5)

               Location  TimeFrame DataFormat         Data Fips
0  Battery Park/Tribeca       2005     Number  51150.45963  101
1  Battery Park/Tribeca       2006     Number  59445.00870  101
2  Battery Park/Tribeca       2007     Number  56375.39151  101
3  Battery Park/Tribeca       2008     Number  61639.90009  101
4  Battery Park/Tribeca       2009     Number  56591.85182  101

In [4]:
#remove dataformat and fips from the dataset
census_data = census_data.drop(['DataFormat', 'Fips'], axis=1)
census_data.head()

               Location  TimeFrame         Data
0  Battery Park/Tribeca       2005  51150.45963
1  Battery Park/Tribeca       2006  59445.00870
2  Battery Park/Tribeca       2007  56375.39151
3  Battery Park/Tribeca       2008  61639.90009
4  Battery Park/Tribeca       2009  56591.85182

In [5]:
#remove data that started with "Zip Code" as it does not represent a neighborhood
census_data = census_data[~census_data.Location.str.startswith('Zip')]

In [11]:
#rename column headers
census_data = census_data.rename(columns = {'Location': 'Neighborhood', 'TimeFrame': 'Census_Year', 'Data': 'Population'}, inplace = False)
census_data.head()

               Neighborhood  Census_Year    Population
2802                Astoria         2019  166069.00000
2760   Battery Park/Tribeca         2019   66437.96901
2793              Bay Ridge         2019  121925.00000
2812                Bayside         2019  114562.00000
1277  Bayside - Little Neck         2018   87431.63278

In [12]:
#sort by timeframe location and timeframe, and for each unique location select the latest year of census
census_data = census_data.sort_values(by = ['Neighborhood','Census_Year'], ascending = (True, False))
census_data = census_data.drop_duplicates(subset=['Neighborhood'])
census_data.head()

               Neighborhood  Census_Year    Population
2802                Astoria         2019  166069.00000
2760   Battery Park/Tribeca         2019   66437.96901
2793              Bay Ridge         2019  121925.00000
2812                Bayside         2019  114562.00000
1277  Bayside - Little Neck         2018   87431.63278

#### B. Getting from website the top 25 hotels in NYC

In [16]:
# Create a Beautiful Soup object
html = 'https://www.businessinsider.com/best-hotels-new-york-city'
soup = bs(html, 'lxml')

/Users/LJS/opt/anaconda3/lib/python3.8/site-packages/bs4/__init__.py:417: MarkupResemblesLocatorWarning: "https://www.businessinsider.com/best-hotels-new-york-city" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  warnings.warn(

In [17]:
# Extract title text
title = soup.role.text
print(title)

AttributeError: 'NoneType' object has no attribute 'text'